<div id="<%= dom_id micropost_range %>">
  <p>
    <strong>Range:</strong>
    <%= micropost_range.range_id %>
  </p>

  <p>
    <strong>Range content:</strong>
    <%= micropost_range.range_content %>
  </p>

</div>
