<div id="mask" class="hidden"></div>
<div id="users-modal" class="hidden" tabindex="-1" >
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h2>Liked Users</h2>
        </div>
        <div class="modal-body">
          <ol class="users" id="modal-users-list">
            <% render @users %>
          </ol>
        </div>
  <div>
  </div>
  </div>
</div>