<% provide(:title, 'All users') %>
<aside class="col-md-4 sidebar_fixed">
<%= render 'shared/search_user_form' %>
</aside>
<div class="col-md-8"  >
  <h3>All users</h3>
<ul class="users">
  <% if @users.any? %>
    <ol class="microposts">
      <%= render @users %>
    </ol>
    <%= will_paginate @users,
                      params: { controller: :users, action: :index } %>
  <% end %>
</ul>

<%#= will_paginate %>
</div>