<h3>Search User</h3>
<%= form_with(url: users_path, method: :get, data:{turbo_frame: "microposts-list"})  do |f| %>
  <%= f.text_field :user_name, placeholder: "Search User...",  class: 'form-control form-control-sm' %>
  <%= f.submit "Search", class: "btn btn-primary" %>
<% end %>