<div id="<%= dom_id search_type %>">
  <p>
    <strong>Search type:</strong>
    <%= search_type.search_type_id %>
  </p>

  <p>
    <strong>Search type content:</strong>
    <%= search_type.search_type_content %>
  </p>

</div>
