<h1>Editing search type</h1>

<%= render "form", search_type: @search_type %>

<br>

<div>
  <%= link_to "Show this search type", @search_type %> |
  <%= link_to "Back to search types", search_types_path %>
</div>
